{% load static %} {% load render_partial %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    {% include 'shared/_HeaderReferences.html' %}
    {% block header_ref %}{%endblock %}
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      {% render_partial 'header' %}

      {% block content %} {% endblock %}

      {% render_partial 'footer' %}

      {% include 'shared/_FooterReferences.html' %}
      
      {% block footer_ref %}{% endblock %}
    </div>
  </body>
</html>
